.card-style {
  /* margin-right: 200px;
  margin-left: 200px;
  margin-top: 25px;
  margin-bottom: 25px; */
  border-radius: 20%;
}
.login-color {
  color: rgba(81, 43, 197, 0.642);
}
.login-btn {
  background-color: rgba(81, 43, 197, 0.642);
}
.error-msg {
  font: 12px;
  width: 100%;
  color: red;
}

.forgetPassword, .signup {
  text-decoration: none;
}

.forgetPassword:hover, .signup:hover {
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  color:black;
}
