body {
    margin:auto;
    background: rgb(195,195,195);
    background: linear-gradient(90deg, rgba(195,195,195,1) 0%, rgba(238,238,238,1) 50%, rgba(195,195,195,1) 100%);
    font-size:14px;
    font-family:Verdana;
}